<%- include("templates/encabezado.ejs") %>
<%- include("templates/menu.ejs") %>
<H1>Nuevo Usuario</H1>
<form action="/nuevoUsuario" method="post" id="formulario">
    <div>
        <input type="text" name="usuario" placeholder="Usuario" autofocus>
        <span id="mensajeUsuario"></span>
    </div>
    <div>
        <input type="text" name="nombre" placeholder="Nombre" >
        <span id="mensajeNombre"></span>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password" >
        <span id="mensajeUsuario"></span>
    </div>
    <div>
        <button type="submit">Guardar usuarios</button>
    </div>
</form>
<%- include("templates/pie.ejs") %>